---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="tag">
    <span>[
      {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
				{% if forloop.first %}
					{% assign padding = '' %}
				{% else %}
          {% assign padding = ',&nbsp;' %}
        {% endif %}   
        <a href="{{ site.tag_page }}{{ tag_name | replace: ' ', '_' }}"><code class="highligher-rouge"><nobr>{{ padding }}{{ tag_name }}</nobr></code></a>
      {% endfor %}
    ]</span>
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>

{% if site.disqus.shortname %}
  {% include comments.html %}
{% endif %}
